.App {
  text-align: center;
  padding: 1em;
}

.App-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-title {
  font-size: large;
}